.container {
  max-width: 1800px;
  margin-inline: auto;
  padding-inline: 4rem;
}

.text-box {
  background: rgba(20, 20, 20, 0.55);

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.45);

  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 12px;

  padding: 1.5rem;
  max-width: 1100px;
}
